<!DOCTYPE html>
    <html>
    <head>
        {{sndmap.js}}
    </head>
    <body onload="getLocation()">
        <h1>Flask Google Maps Example</h1>
        <h2> Second map generated in view</h2>
        <h3> Example for different icons in multiple markers with infoboxes</h3>
        {{sndmap.html}}
        <form id="sendLatLng" method="POST" action="/">
            <input id="latInput" name="lat" type="hidden">
            <input id="lngInput" name="lng" type="hidden">
            <button style="float:left;" type="submit">submit</button>
        </form>
        <button style="float:left;" onclick="reCenterMap()">Center current position</button> 
    </body>
</html>

<script>
    var lat = document.getElementById("latInput")
    var lng = document.getElementById("lngInput")
    var form = document.getElementById("sendLatLng")

    function reCenterMap(){
        map.setCenter(new google.maps.LatLng(lat.value, lng.value));
        map.setZoom(16);
    }

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        worked.value = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
        lat.value = position.coords.latitude; 
        lng.value = position.coords.longitude;
        new google.maps.Marker({
            position: new google.maps.LatLng(lat.value, lng.value),
            map: map,
            icon: "http://maps.google.com/mapfiles/dir_0.png",
            title: "Current location",
        });
    }
</script>