<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
		<script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{sndmap.js}}
  </head>
    <div class="container-fluid" id ="Cont"> <!-- contains the gridsystem-->
		  <div class="row" id="row0" > <!-- The row in which the column is placed -->	
        <div class="col-sm-12 col-height" ><!-- Column making the map adjustable to differnt devices-->
          <img src="static/Logo.PNG" alt="Logo">
				</div>
      </div>
      <div class="row" id="row1" > <!-- The row in which the column is placed -->	
        <div class="col-sm-12 col-height" ><!-- Column making the map adjustable to differnt devices-->
          {{sndmap.html}} 
				</div>
      </div>
			<div class="bottomWrapper">
        <button value='0' onclick="extMap()" class="btn btn-primary btn-lg btn-block but-graphics extBut">
         <span>Extend Map</span>
        </button>
			
				<div class="row " id="row3"> <!-- The row in which the column is placed -->	
				  <div class="col-sm-12 col-height" ><!-- Column making the map adjustable to differnt devices-->
				    <div class="menuItems">			
				      <input type="hidden" name="request-specification" value="SetMarker">
					    <input id="latInput" name="lat" type="hidden">
					    <input id="lngInput" name="lng" type="hidden">
					    <button onclick="placeMarker()" class="btn btn-primary btn-lg btn-block but-graphics mobButWidth">
					      <span>Set marker</span>
				      </button>
				    </div>
				    <div class="menuItems">
				      <button class="btn btn-primary btn-lg btn-block but-graphics mobButWidth" id="toggleBut" onclick="toggleMode()" value="1">
						    <span>Free Roam Mode</span>
					    </button> 
				    </div>
				   <div class="menuItems">
				      <button type="Button" onclick="getPositionbyTime()" id="desktop" class="btn btn-primary btn-lg btn-block but-graphics"> Search </button>
				    </div>			  
			     </div>
				  </div>
				  <div class="row" id="row2-2" > <!-- The row in which the column is placed -->	  
					<!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div> -->
					  <div class="col-xs-12  date-margin  form-group dateform"> 
						  <span class="timeDateInfo">Start Date/Time: </span>
						  <input type="hidden" name="request-specification" value="TimePersonLocation">
							<input id="start_date" type="date" class="date form-control" name="start_date" min="2019-01-01" value="Date">
							<input id="start_time" type="time" class="time form-control" name="start_time" min="00:00" max="23:59 "value="Time" placeholder="Start Time">
							<span class="timeDateInfo">End Date/Time: </span>
							<input id="end_date" type="date" class="endMargin date form-control" name="end_date" min="2019-01-01" value="Date">
							<input id="end_time" type="time" class="endMargin time form-control" name="end_time" min="00:00" max="23:59" value="Time">
						  <span class="timeDateInfo">Search Parameters</span>
						  <select class="form-control" id="searchSelect">
							  <option disabled selected="selected">Search on</option>
							  <option value="Time"> Time only </option>
							  <option value="Area"> Area only</option>
							  <option value="Time_Area"> Time and Area </option>
					  	</select>
						  <button type="Button" onclick="getPositionbyTime()" id="mobile" class="btn btn-primary btn-lg btn-block but-graphics"> Search </button>
					</div>
				</div>
				
				<div class="row row2-1"> <!-- The row in which the column is placed -->	
							<p id="error-label"> Error:  </p>
							<textarea  disabled  id="error-log"> Ingen info ännu!</textarea>							
				</div>
				<div class="row row2-1" id="rangeSlider" > <!-- The row in which the column is placed -->
						<p id="slideLabel">Range:  </p>
						<input type="range" class="custom-range" id="slider1"  min="1" max="20" step="1" onchange="changeRange(this.value)">
				</div>  
            
            
			</div>
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>

<!-- Script for collecting location-->
<script>
    var markerIsSet;
    var loadedMarkerIsSet;
    var markers = [];
    var Marker;
    var interval;
    var showpos;
    var lat = document.getElementById("latInput");
    var lng = document.getElementById("lngInput");
    var form = document.getElementById("sendLatLng");
	var newRange =  document.getElementById("slider1").value;
	var oldRange = 1000;

    interval = setInterval(getLocation, 10000); // Updates the position every half minute

    function updatePosition(position) {
        lat.value = position.coords.latitude; 
        lng.value = position.coords.longitude;
        if (markerIsSet) {
            Marker.setMap(null);
            Marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat.value, lng.value),
                map: map,
                icon: "http://maps.google.com/mapfiles/dir_0.png",
                title: "Updated location",
            });
        }
        else {
            markerIsSet = true;
            Marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat.value, lng.value),
                map: map,
                icon: "http://maps.google.com/mapfiles/dir_0.png",
                title: "Current location",
            });
        }
     }
	function loadPage(){
        showpos = true;
		getLocation();
		reCenterMap();
        showpos = false;
	}
    function reCenterMap() {
		map.setCenter(new google.maps.LatLng(lat.value, lng.value));
        map.setZoom(16);
    }

    function getLocation() {
        if (showpos){
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            worked.value = "Geolocation is not supported by this browser.";
        }
        }
        else{ 
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(updatePosition);
            } else {
                worked.value = "Geolocation is not supported by this browser.";
        }
      }

    }
	 
	 function changeRange(newRange){

	 }
	 
	function toggleMode() {
		var x = document.getElementById("toggleBut");
		if (x.value == 1) {
			x.innerHTML = "Locked Mode";
			x.value = 0;
			map.setOptions({draggable: false});
		} else {
			x.innerHTML = "Free Roam Mode";
			x.value = 1;
			reCenterMap();
			map.setOptions({draggable: true});
		}
	} 
	
	function extMap(){
	
		var x = document.getElementById("row1");
		if(x.value == 0){
			x.style.height ="63%";
			x.value = 1;
		}else{
			x.style.height = "84%";
			x.value = 0;
		}
	
	}

    function addMarkers(lat,lng){
            marker =  new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            map: map,
            icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
            }
            );
            markers.push(marker);
    }
    function setMapNullOnAll() {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
      }
    function placeMarker(){
        var dataForm = {
            "request-specification": "SetMarker",
            "lng": lng.value,
            "lat": lat.value,
        }
        $.ajax({
            type: "POST",
            url: "/",
            data: dataForm,
            success: function(response) {
                addMarkers(lat.value, lng.value);
                document.getElementById('error-log').value  = response;
                console.log(response)
            },
            error: function(error) {
                document.getElementById('error-log').value = response;
                console.log(error);
            }
        });
    }
    function loadMarkers(lng, lat){
        var dataForm = {
            "request-specification": "FetchMarkers",
            "lng": lng,
            "lat": lat,
        }
        $.ajax({
            type: "POST",
            url: "/",
            data: dataForm,
            success: function(response) {
                for (var i = 0; i < response.length; i++){
                    addMarkers(response[i][1],response[i][0])
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
    function showPosition(position) {
        lat.value = position.coords.latitude;
        lng.value = position.coords.longitude;
        markerIsSet = true;
        Marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat.value, lng.value),
            map: map,
            icon: "http://maps.google.com/mapfiles/dir_0.png",
            title: "Current location",
        }
        );
        loadMarkers(lng.value, lat.value);
    }

    function getPositionbyTime(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getMarkersByTime);
      } else {
        worked.value = "Geolocation is not supported by this browser.";
      }
    } 
    function getMarkersByTime(position){
        var startDate = document.getElementById("start_date").value;
        var startTime = document.getElementById("start_time").value;
        var endDate = document.getElementById("end_date").value;
        var endTime = document.getElementById("end_time").value;
        var dataForm = {
            "request-specification": "getMarkersFromTimeAndPerson",
            "lng": lng.value,
            "lat": lat.value,
            "start_date": startDate,
            "start_time": startTime,
            "end_date": endDate,
            "end_time": endTime,
        }
        /* TODO Fix removing markers and place new ones  */
        $.ajax({
            type: "POST",
            url: "/",
            data: dataForm,
            success: function(response) {
                console.log("Den kommer in här");
                setMapNullOnAll();
                for (var i = 0; i < response.length; i++){
                    addMarkers(response[i][1],response[i][0])
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>


