html{
	height: 100%;
	margin-left: 0% !important;
	margin-right: 0% !important;
}
body{
	width: 100% !important;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.945) !important; 	
}
.container-fluid{
	width: 100% !important;
}
.date-margin{
	margin: 0 auto !important;
	height: 100%; 
	text-align: left;
	width: 100% !important;
}

.date{ 
	width:25% !important;
	float: left !important;
	margin-left: 45px;
}
.time{
	width:15% !important;
	float: left !important;
}
#Cont{
	height: 100%;
}
#row0{
	height: 5%;
}

#row1{
	height: 79%;
	margin: auto !important;
	width: 100% !important;
	padding: 4px;
}
#row2{
	height: 5%;
	
}
#row2col1{
	height: 100%;
}
#row3{
	height: 15% !important;
}
#row3col1{
	height: 100%;
}
#nav{
	height: 10%;
}
#navUL{
	width: 100%; 
	height: 100%;
}
#navLI1{
	float: left !important; 
	width: 29%; 
	height: 100%;
}
#navForm{
	height: 100%;
}
#navBtn{
	height: 100%; 
	font-size: 2.5em;
}
#navLI2{
	width: 29%; 
	height: 100%;
}
#navLI3{
	float: right; 
	width: 29%; 
	height: 100%;
}

.col-height{
	height: 100%;
	
}
.navbar{
	height: 10%;
}
.navbar-nav{
	Width: 100%; 
	height: 100%;
}
.nav-item{
	width: 33.33% !important;
	height: 100% !important;
}

.but-graphics{
	height: 100% !important; 
	font-size:  2em !important;  
	background-color: grey !important; 
	border: 1px solid black !important;
	transition: width 2s; 
}
.but-graphics:hover {
	cursor: pointer !important;
	border: 1px solid white !important;
}
.but-graphics-search{
	color: white;
	background-color: grey !important; 
	border: 1px solid black !important;
	border-radius: 2px;
	border-style: outline !Important; 
	
}
.but-graphics-search:hover {
	cursor: pointer !important;
	border: 1px solid white !important;
}
h1{
	color: white !important; 
	font-size: 2.9em!important; 
}

#sendLatLng{
	height:100% !important;
}