html{
	height: 100%;
	margin-left: 0% !important;
	margin-right: 0% !important;
}
body{
	width: 100% !important;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.945) !important; 	
}
.container-fluid{
	width: 100% !important;
}

.date-margin {
    margin: 0 auto !important;
    height: 100% !important;
    text-align: left !important;
    width: 100% !important;
}
#timeSeperator {
    font-size: 25px !important;
    color: white !important;
    float: left !important;
}
#mapScaler {
    height: 80%;
    padding: 2px !important;
    width: 40% !important;
    clear: left !important;
    float: left !important;
}
#slideLabel {
    font-size: 1.5rem !important;
    color: white !important;
    clear: left !important;
    float: left !important;
}
#slider1 {
    width: 60% !important;
    margin-left: 20px !important;
    margin-top: 18px !important;
}

.date{ 
	width: 17% !important;
	float: left !important;
}
.dateform {
    height: 80%;
    clear: left !important;
    clear: right !important;
    width: 60% !important;
    padding: 2px !important;
    float: right !important;
}
.time{
	width: 14% !important;
	float: left !important;
}
#Cont{
	height: 100%;
}
#row0{
	height: 5%;
}

#row1{
	height: 80%;
	margin: auto !important;
	width: 100% !important;
	padding: 4px;
}
#row2{
	height: 5% !important;
	
}
#row2col1{
	height: 100%;
}
#row3{
	height: 10% !important;
}
#row3col1{
	height: 100%;
}

#navUL{
	width: 100%; 
	height: 100%;
}
.navbar{
    height: 100% !important;
}
#navLI1{
	float: left !important; 
	width: 29%; 
	height: 100%;
}
#navForm{
	height: 100%;
}
#navBtn{
	height: 100%; 
	font-size: 2.5em;
}
#navLI2{
	width: 29%; 
	height: 100%;
}
#navLI3{
	float: right; 
	width: 29%; 
	height: 100%;
}

.col-height{
	height: 100%;
	
}
.navbar{
	height: 100%;
    border-radius: 4px;
}
.navbar-nav{
	background-color: rgba(34, 34, 34, 0.945) !important; 
	Width: 100%; 
	height: 90%;
}
.nav-item {
    width: 33.2% !important;
    height: 100% !important;
}

.but-graphics {
    height: 100% !important;
    font-size: 1rem !important;
    background-color: grey !important;
    border: 1px solid black !important;
    transition: width 2s;
}
.but-graphics:hover {
    cursor: pointer !important;
    border: 1px solid white !important;
}
.but-graphics-search{
	float: left;
	color: white;
	background-color: grey !important; 
	border: 1px solid black !important;
	border-radius: 2px;
	border-style: outline !Important; 
	
}
#searchSelect{
	margin-left:4px;
	float: left;
	width: 22%; 
}
.but-graphics-search:hover {
	cursor: pointer !important;
	border: 1px solid white !important;
}
h1{
	color: white !important; 
	font-size: 2.9em!important; 
}

#sendLatLng{
	height:100% !important;
}