html{
	height: 100%;
	margin-left: 0% !important;
	margin-right: 0% !important;
}
body{
	width: 100% !important;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.945) !important; 	
}
.container-fluid{
	width: 100% !important;
}

.extBut{
		height:90px !important;
		margin-top:15px;
		display:none !important;
}

.date-margin {
    margin: 0 auto !important;
    height: 100% !important;
    text-align: left !important;
    width: 100% !important;
}
#mapScaler {
    height: 100%;
    width: 22% !important;
    float: left !important;
}
#slideLabel {
    font-size: 1.3rem !important;
    color: white !important;
	float: left !important;
	margin-top: 15px !important;
	width:18.7%;
}
#slider1 {
	margin-left: 3px;
	margin-top: 15px !important;
	background-color:	gainsboro;
	border-radius: 6px !important;
	height: 50%;
	width: 29% !important;
	float: left !important;
}
#error-label {
	clear: left!important;
    font-size: 1.3rem !important;
    color: white !important;
    float: left !important;
    width: 18.5%;
    margin-top: 15px !important;
}

#mobile{
	display:none;
}

#desktop{
	display:block;
}

#error-log{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px !important;
	width: 29% !important;
	height: 50%;
	float: left !important;
}
.date{ 
	height: 49% !important;
	width: 40% !important;
	float: left !important;
}
.dateform {
    height: 100%;
    padding: 2px !important;
    float: right !important;
}
.time{
	margin-right: 18px;
	margin-left: 2px;
	height: 49% !important;
	width: 40% !important;
	float: left !important;
}
#Cont{
	height: 100%;
}
#row0{
	height: 5%;
}

#row1{
	height: 70%;
	margin: auto !important;
	width: 100% !important;
	padding: 4px;
}

.timeDateInfo{
	float:left;
	color:white;
	padding-left:15px;
	padding-right:15px;
	width:20%;
}

.row2-1{
	    height: 24% !important;
    margin-top: 34px;
    margin-left: 0px !important;
    width: 100% !important;
}

#rangeSlider{
	margin-top:-23px !important;
}

#row2-2{
	height: 20% !important;
	width: 100%;
	
}

#end_date{
	margin-top:10px;
}

#end_time{
	margin-top:10px;
}

.time{
	width:30% !important;
}

.date{
	width:30% !important;
}



#row2col1{
	height: 100%;
}
#row3{
	height: 20% !important;
}
#row3col1{
	height: 100%;
}

#navUL{
	width: 100%; 
	height: 100%;
}
.navbar{
    height: 100% !important;
}
#navLI1{
	float: left !important; 
	width: 29%; 
	height: 100%;
}
#navForm{
	height: 100%;
}
#navBtn{
	height: 100%; 
	font-size: 2.5em;
}
#navLI2{
	width: 29%; 
	height: 100%;
}
#navLI3{
	float: right; 
	width: 29%; 
	height: 100%;
}

.col-height{
	height: 100%;
	
}
.navbar{
	height: 100%;
    border-radius: 4px;
}
.navbar-nav{
	background-color: rgba(34, 34, 34, 0.945) !important; 
	Width: 100%; 
	height: 90%;
}
.nav-item {
    width: 33.2% !important;
    height: 100% !important;
}

.menuItems{
	width:33%;
	float:left;
}

.bottomWrapper{
		height:33%;
	}

.but-graphics {
    height: 100% !important;
    font-size: 1.5rem !important;
    background-color: grey !important;
    border: 1px solid black !important;
    transition: width 2s;
}
.but-graphics:hover {
    cursor: pointer !important;
    border: 1px solid white !important;
}
.but-graphics-search{
	height:  100%;
	float: left;
	color: white;
	background-color: grey !important; 
	border: 1px solid black !important;
	border-radius: 2px;
	border-style: outline !Important; 
	
}
#searchSelect{
	height:  40%;
	float: left;
	width: 29%;
	margin-top:10px;
}
.but-graphics-search:hover {
	cursor: pointer !important;
	border: 1px solid white !important;
}
h1{
	color: white !important; 
	font-size: 2.9em!important; 
}

#sendLatLng{
	height:100% !important;
}

@media only screen and (max-width: 1000px) {
	
	.mobButWidth{
		width:100% !important;
		font-size: 3Rem !important;
	}
	
	#row1{
		height:60%;
	}
	
	.navbar{
		margin-top:-110px !important;
	}
	
	.extBut{
		height:90px !important;
		margin-top:15px;
		display:block !important;
	}
	
	.extBut span{
		font-size: 3Rem !important;
	}
	
	.navbar-nav{
		flex-direction: column !important;
		width: 100% !important;
		padding: 0px !important;
		margin-right: 2.2% !important;
		margin-left: -1.7%;
	}
	.nav-item{
		width:104% !important;
		height:90px !important;
		margin-top:10px;
	}
	.nav-item span{
		font-size: 3Rem !important;
	}
	
	#mapScaler{
		    width: 100% !important;
    height: 150% !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: -30px !important;
	}
	
	#slider1{
	margin-left: 40px;
    margin-top: 10px !important;
    background-color: gainsboro;
    border-radius: 6px !important;
    height: 50%;
    width: 80% !important;
    float: left !important;
	}
	
	#row2-1{
		height: 11% !important;
	}
	
	#row2-2{
		margin-left:15px;
		height: 56% !important;
	}
	
	.form-control{
		width: 23% !important;
		height: 25% !important;
		font-size: 3rem !important;
		color:black !important;
		text-align:center !important;
	}
	
	.date-margin{
		margin-top:15px !important;
		margin-left:-15px !important;
		height:100% !important;
	}
	
	#searchSelect{
		margin-top: 15px !important;
		text-align:center !important;
	}
	
	.time{
		margin-left:24px !important;
		margin-right:0px !important;
	}
	
	.endMargin{
		margin-top:15px !important;
	}
	
	.bottomWrapper{
		height:33%;
	}
	
	#mobile{
		   display: block;
		float: left;
		height: 25% !important;
		width: 23.5% !important;
		margin-left: 22px;
		font-size: 3rem !important;
		line-height: 0px;
		margin-top: 15px;
	}
	
	.row2-1{
		display:none !important;
	}
	
	#rangeSlider{
		display:block !important;
	}
	
	.timeDateInfo{
		font-size:3Rem !important;
		width:50.7% !important;
		padding-left:0px;
	}
	
	#slideLabel{
		font-size: 3Rem !important;
		margin-top: 8px !important;
		width: 15% !important;
	}
	
	
	
	#desktop{
		display:none;
	}
	
	.menuItems{
		width:49%;
	}
	
	#toggleBut{
		margin-left:15px;
	}
	
	#row3{
		margin-top:15px;
		height: 16% !important;
	}
}